<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autentificare</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">WannaListen</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Acasa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('artists') }}">Artisti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('songs') }}">Melodii</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('login') }}">Autentificare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Inregistrare</a>
            </li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <form method="post" action="{{ url_for('login') }}">
        <fieldset>
            <h1 class="display-3">Autentificare</h1>
            <div class="form-group">
                <label for="username">Nume de utilizator</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp"
                       placeholder="Introduce-ti numele de utilizator">
                <small id="usernameHelp" class="form-text text-muted">In caz ca ai uitat, este de forma <b>NumePrenume#Numar</b></small>
            </div>
            <div class="form-group">
                <label for="password">Parla</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Parola">
            </div>
            <button type="submit" class="btn btn-primary">Trimite</button>
        </fieldset>
    </form>
</div>
</body>
</html>